openapi: "3.0.1"
info:
  title: "Swiss OJP OpenAPI explorer"
  version: "1.0"
  description: |
    This swagger introduces the list of provided services the Swiss OJP 1.0 and OJP 2.0 service. The interface follows the CEN standard interface OJP (Open API for distributed Journey Planning). For tests you need first to login with your key or this test key
    OJP 1.0:
          `57c5dbbbf1fe4d000100001842c323fa9ff44fbba0b9b925f0c052d1`.
    OJP 2.0:
          `eyJvcmciOiI2NDA2NTFhNTIyZmEwNTAwMDEyOWJiZTEiLCJpZCI6ImVhN2I2NTk4MTIxODQ4YmU4MmQyMzM1MzExODU1NmNhIiwiaCI6Im11cm11cjEyOCJ9`.
    
    You can alter the different examples provided. Some parts are commented out. You make them valid again. Probably you will need to change the value to get a useful result (e.g. set it to the current date)

    We offer currently tests for the following services:
      - OJPLocationRequest: LIR
      - OJPTripRequest: TR
      - OJPStopEventRequest: SER
      - OJPTripInfoRequest: TIR
externalDocs:
  description: "OJP documentation"
  url: "http://www.normes-donnees-tc.org/wp-content/uploads/2017/01/TC_278_WI_00278420_E-RS-170118-final3.pdf"
servers:
  - url: "https://api.opentransportdata.swiss"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      in: header
      name: "Authorization"
security:
  - bearerAuth: []
paths:
  /ojp20:
    post:
      summary: "OJP 2.0 acccess"
      operationId: "OJP2.0"
      description: "OJP 2.0 is the name API under current development. However, this is access to the productive version. OJP 2.0 is a traditional API, where the operation definitions is done in body of the post request."
      requestBody:
        required: true
        content:
          application/xml:
            schema: 
                type: object
                xml:
                  name: "OJP"
                  wrapped: true                          
            examples:
              exampleLIR1:
                summary: "LIR - Simple by name"
                description: "Simple OJPLocationInformationtRequest for Bern"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.vdv.de/ojp ../../../../Downloads/OJP-changes_for_v1.1%20(1)/OJP-changes_for_v1.1/OJP.xsd">
                      <OJPRequest>
                          <siri:ServiceRequest>
                              <siri:RequestTimestamp>2024-06-01T11:16:59.475Z</siri:RequestTimestamp>
                              <siri:RequestorRef>MENTZRegTest</siri:RequestorRef>
                              <OJPLocationInformationRequest>
                                  <siri:RequestTimestamp>2024-06-01T11:16:59.475Z</siri:RequestTimestamp>
                                  <siri:MessageIdentifier>LIR-1a</siri:MessageIdentifier>
                                  <InitialInput>
                                      <Name>Bern</Name>
                                  </InitialInput>
                                  <Restrictions>
                                      <Type>stop</Type>
                                      <NumberOfResults>10</NumberOfResults>
                                  </Restrictions>
                              </OJPLocationInformationRequest>
                          </siri:ServiceRequest>
                      </OJPRequest>
                  </OJP>
              exampleLIR2:
                summary: "LIR - Simple by name - topographic place"
                description: "Simple OJPLocationInformationtRequest for Schaffhausen"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.vdv.de/ojp ../../../../Downloads/OJP-changes_for_v1.1%20(1)/OJP-changes_for_v1.1/OJP.xsd">
                      <OJPRequest>
                          <siri:ServiceRequest>
                              <siri:RequestTimestamp>2024-06-01T11:16:59.475Z</siri:RequestTimestamp>
                              <siri:RequestorRef>MENTZRegTest</siri:RequestorRef>
                              <OJPLocationInformationRequest>
                                  <siri:RequestTimestamp>2024-06-01T11:16:59.475Z</siri:RequestTimestamp>
                                  <siri:MessageIdentifier>LIR-1b</siri:MessageIdentifier>
                                  <InitialInput>
                                      <Name>Schaffh</Name>
                                  </InitialInput>
                                  <Restrictions>
                                      <Type>topographicPlace</Type>
                                      <NumberOfResults>10</NumberOfResults>
                                  </Restrictions>
                              </OJPLocationInformationRequest>
                          </siri:ServiceRequest>
                      </OJPRequest>
                  </OJP>
              exampleLIR4:
                summary: "LIR - coordinate search rectangle (not working)"
                description: "OJPLocationInformationtRequest with circle coordinates"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                      <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.vdv.de/ojp ../../../../Downloads/OJP-changes_for_v1.1%20(1)/OJP-changes_for_v1.1/OJP.xsd">
                  	<OJPRequest>
                  		<siri:ServiceRequest>
                  			<siri:RequestTimestamp>2024-06-01T11:16:59.475Z</siri:RequestTimestamp>
                  			<siri:RequestorRef>MENTZRegTest</siri:RequestorRef>
                  			<OJPLocationInformationRequest>
                  				<siri:RequestTimestamp>2024-06-01T11:16:59.475Z</siri:RequestTimestamp>
                  				<siri:MessageIdentifier>LIR-1d</siri:MessageIdentifier>
                  				<InitialInput>
                  					<GeoRestriction>
                  						<Circle>
                  							<Center>
                  								<siri:Longitude>8.55330</siri:Longitude>
                  								<siri:Latitude>47.37609</siri:Latitude>
                  							</Center>
                  							<Radius>1000</Radius>
                  						</Circle>
                  					</GeoRestriction>
                  				</InitialInput>
                  				<Restrictions>
                  					<Type>stop</Type>
                  					<NumberOfResults>10</NumberOfResults>
                  				</Restrictions>
                  			</OJPLocationInformationRequest>
                  		</siri:ServiceRequest>
                  	</OJPRequest>
                   </OJP>             
              exampleSER1:
                summary: "SER - Simple"
                description: "Simple OJPStopEventRequest for Bern"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.siri.org.uk/siri" version="1.0" xmlns:ojp="http://www.vdv.de/ojp" xsi:schemaLocation="http://www.siri.org.uk/siri ../ojp-xsd-v1.0/OJP.xsd">
                      <OJPRequest>
                          <ServiceRequest>
                              <RequestTimestamp>2024-06-01T11:16:59.475Z</RequestTimestamp>
                              <RequestorRef>API-Explorer</RequestorRef>
                              <ojp:OJPStopEventRequest>
                                  <RequestTimestamp>2024-06-01T11:16:59.475Z</RequestTimestamp>
                                  <ojp:Location>
                                      <ojp:PlaceRef>
                                          <StopPlaceRef>8507000</StopPlaceRef>
                                          <ojp:LocationName>
                                              <ojp:Text>Bern</ojp:Text>
                                          </ojp:LocationName>
                                      </ojp:PlaceRef>
                                      <!-- <ojp:DepArrTime>2024-06-01T12:43:50</ojp:DepArrTime> -->
                                  </ojp:Location>
                                  <ojp:Params>
                                      <ojp:OperatorFilter>
                                          <ojp:Exclude>false</ojp:Exclude>
                                          <ojp:OperatorRef>11</ojp:OperatorRef>
                                      </ojp:OperatorFilter>
                                      <ojp:NumberOfResults>1</ojp:NumberOfResults>
                                      <ojp:StopEventType>departure</ojp:StopEventType>
                                      <ojp:IncludePreviousCalls>true</ojp:IncludePreviousCalls>
                                      <ojp:IncludeOnwardCalls>true</ojp:IncludeOnwardCalls>
                                      <ojp:IncludeRealtimeData>true</ojp:IncludeRealtimeData>
                                  </ojp:Params>
                              </ojp:OJPStopEventRequest>
                          </ServiceRequest>
                      </OJPRequest>
                  </OJP>
              exampleTR1:
                summary: "TR - Simple"
                description: "Simple OJPTripRequest Zürich - Schaffhausen"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.vdv.de/ojp OJP_changes_for_v1.1/OJP.xsd">
                  	<OJPRequest>
                  		<siri:ServiceRequest>
                  			<siri:RequestTimestamp>2024-06-01T11:16:59.475Z</siri:RequestTimestamp>
                  			<siri:RequestorRef>MENTZRegTest</siri:RequestorRef>
                  			<OJPTripRequest>
                  				<siri:RequestTimestamp>2024-06-01T11:16:59.475Z</siri:RequestTimestamp>
                  				<siri:MessageIdentifier>TR-1h2</siri:MessageIdentifier>
                  				<Origin>
                  					<PlaceRef>
                  						<siri:StopPointRef>8503091</siri:StopPointRef>
                  						<Name>
                  							<Text>Giesshübel</Text>
                  						</Name>
                  					</PlaceRef>
                  					<!-- <DepArrTime>2024-06-01T11:16:59.475Z</DepArrTime> -->
                  				</Origin>
                  				<Destination>
                  					<PlaceRef>
                  						<siri:StopPointRef>8503000</siri:StopPointRef>
                  						<Name>
                  							<Text>Zürich HB</Text>
                  						</Name>
                  					</PlaceRef>
                  				</Destination>
                  				<Params>
                  					<ModeAndModeOfOperationFilter>
                  						<Exclude>true</Exclude>
                  						<PtMode>tram</PtMode>
                  					</ModeAndModeOfOperationFilter>
                  					<NumberOfResults>3</NumberOfResults>
                  				</Params>
                  			</OJPTripRequest>
                  		</siri:ServiceRequest>
                  	</OJPRequest>
                  </OJP>
      responses:
        "400":
          description: "Bad Request"
          content:
            application/xml:
              schema: 
                  type: object
                  xml:
                    name: "OJP"
                    wrapped: true   
              examples:
                example1:
                  summary: "Not a valid XML"
                  description: "The request is not valid. Check with xmllint or XMLSpy or so."
                  value: |
                    <problem xmlns="urn:ietf:rfc:7807">
                      <status>400</status>
                      <title>One or more validation errors occurred.</title>
                      <type>https://tools.ietf.org/html/rfc7231#section-6.5.1</type>
                      <traceId>00-32a4cf02692338530c7fd9899f0d6e4f-55e5e50844017d32-00</traceId>
                      <MVC-Errors>
                        <MVC-Empty>An error occurred while deserializing input data.</MVC-Empty>
                      </MVC-Errors>
                    </problem> 
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema: 
                  type: object
                  properties:
                    error:
                      type: string
                  required:
                    - error
              examples:
                example2:
                  summary: "Wrong or no key provided"
                  description: "Get a correct key and apply it correctly."
                  value:
                    error: Authorization field missing
  /ojp2020:
    post:
      summary: "OJP 1.0 acccess"
      operationId: "OJP1.0"
      description: "OJP is a traditional API, where the operation definitions is done in body of the post request"
      requestBody:
        required: true
        content:
          application/xml:
            schema: 
                type: object
                xml:
                  name: "OJP"
                  wrapped: true                          
            examples:
              example1:
                summary: "LIR - Simple"
                description: "Simple OJPLocationInformationtRequest for Bern"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.siri.org.uk/siri" version="1.0" xmlns:ojp="http://www.vdv.de/ojp" xsi:schemaLocation="http://www.siri.org.uk/siri ../ojp-xsd-v1.0/OJP.xsd">
                      <OJPRequest>
                          <ServiceRequest>
                              <RequestTimestamp>2024-06-01T11:24:34.598Z</RequestTimestamp>
                              <RequestorRef>API-Explorer</RequestorRef>
                              <ojp:OJPLocationInformationRequest>
                                  <RequestTimestamp>2024-06-01T11:24:34.598Z</RequestTimestamp>
                                  <ojp:InitialInput>
                                      <ojp:LocationName>Bern</ojp:LocationName>
                                  </ojp:InitialInput>
                                  <ojp:Restrictions>
                                      <ojp:Type>stop</ojp:Type>
                                      <ojp:NumberOfResults>1</ojp:NumberOfResults>
                                      <ojp:IncludePtModes>true</ojp:IncludePtModes>
                                  </ojp:Restrictions>
                              </ojp:OJPLocationInformationRequest>
                          </ServiceRequest>
                      </OJPRequest>
                   </OJP>
              example2:
                summary: "SER - Simple"
                description: "Simple OJPStopEventRequest for Bern"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.siri.org.uk/siri" version="1.0" xmlns:ojp="http://www.vdv.de/ojp" xsi:schemaLocation="http://www.siri.org.uk/siri ../ojp-xsd-v1.0/OJP.xsd">
                      <OJPRequest>
                          <ServiceRequest>
                              <RequestTimestamp>2024-06-01T11:16:59.475Z</RequestTimestamp>
                              <RequestorRef>API-Explorer</RequestorRef>
                              <ojp:OJPStopEventRequest>
                                  <RequestTimestamp>2024-06-01T11:16:59.475Z</RequestTimestamp>
                                  <ojp:Location>
                                      <ojp:PlaceRef>
                                          <StopPlaceRef>8507000</StopPlaceRef>
                                          <ojp:LocationName>
                                              <ojp:Text>Bern</ojp:Text>
                                          </ojp:LocationName>
                                      </ojp:PlaceRef>
                                      <!-- <ojp:DepArrTime>2024-06-01T12:43:50</ojp:DepArrTime> -->
                                  </ojp:Location>
                                  <ojp:Params>
                                      <ojp:OperatorFilter>
                                          <ojp:Exclude>false</ojp:Exclude>
                                          <ojp:OperatorRef>11</ojp:OperatorRef>
                                      </ojp:OperatorFilter>
                                      <ojp:NumberOfResults>1</ojp:NumberOfResults>
                                      <ojp:StopEventType>departure</ojp:StopEventType>
                                      <ojp:IncludePreviousCalls>true</ojp:IncludePreviousCalls>
                                      <ojp:IncludeOnwardCalls>true</ojp:IncludeOnwardCalls>
                                      <ojp:IncludeRealtimeData>true</ojp:IncludeRealtimeData>
                                  </ojp:Params>
                              </ojp:OJPStopEventRequest>
                          </ServiceRequest>
                      </OJPRequest>
                  </OJP>
      responses:
